.login{
  display: flex;
  padding: 100px;
  width: 100%;
  margin-left: 100px;
  margin-top: 35px;
}

.login-form{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.login-form h3{
  display: flex;
  width: 100%;
  font-size: 3rem;
}

.login-form p{
  display: flex;
  font-size: .8rem;
  padding: 10px 0px;
  margin-top: 10px;
}

.login-form form{
  display: flex;
  width: 50%;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 50px 20px;
  margin-top: 30px;
  border-radius: 5px;
  height: auto;
}

.login-form form .form-group{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
}

.login-form form .form-group label{
  font-size: .8rem;
}

.login-form form .form-group input{
  padding: 18px;
  margin-top: 5px;
  outline: none;
  border: 0.5px solid #0bce97;
  border-radius: 5px;
}

.form-action{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.form-action .check{
  display: flex;
  align-items: center;
}

.form-btn{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
  align-items: center;
}

.form-btn .login-btn, .form-btn .register{
  display: flex;
  width: 50%;
}

.form-btn .login-btn button{
  display: flex;
  padding: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #0bce97;
  justify-content: center;
  align-items: center;
  width: 80%;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.form-btn .login-btn button:hover{
  background-color: #817dea;
}

#register{
  display: flex;
  padding: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #817dea;
  justify-content: center;
  align-items: flex-end;
  width: 80%;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  margin-left: 30px;
  font-size: .8rem;
}

#register:hover{
  background-color: #0bce97;
}



