#register{
  display: flex;
  padding: 100px;
  width: 100%;
  margin-top: 3px;
}

.register-form{
  position: fixed;
	background: white;
  border-top: 10px solid  #817dea;
	width: 80%;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	padding: 30px;
  z-index: -1;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	display: flex;
}

.display-block {
	display: block;
}

.display-none {
	display: none;
}


.register-form h3{
  display: flex;
  width: 100%;
  font-size: 3rem;
}

.register-form p{
  display: flex;
  font-size: .8rem;
  padding: 10px 0px;
  margin-top: 10px;
}

.register-form form{
  display: flex;
  width: 50%;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 50px 20px;
  margin-top: 30px;
  border-radius: 5px;
  height: auto;
}

.register-form form .form-group{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
}

.register-form form .form-group label{
  font-size: .8rem;
}

.register-form form .form-group input{
  padding: 18px;
  margin-top: 5px;
  outline: none;
  border: 0.5px solid #0bce97;
  border-radius: 5px;
}

.form-action{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.form-action .check{
  display: flex;
  align-items: center;
}

.btns{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
  align-items: center;
}

.btns .btn, .btns .login-link{
  display: flex;
  width: 50%;
}

.btns .btn button{
  display: flex;
  padding: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #0bce97;
  justify-content: center;
  align-items: center;
  width: 80%;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.btns .btn button:hover{
  background-color: #817dea;
}

#login{
  display: flex;
  padding: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #817dea;
  justify-content: center;
  align-items: flex-end;
  width: 80%;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  margin-left: 30px;
  font-size: .8rem;
}

#login:hover{
  background-color: #0bce97;
}

